<div class="px-6 py-8">
    <div class="flex justify-between container mx-auto">
        <div class="w-full lg:w-8/12">
            <div class="flex items-center   justify-between">
                <h1 class="text-xl font-bold text-gray-700 md:text-2xl">Products</h1>
                <div class="pt-2 m-2 relative mx-auto hidden sm:flex text-gray-600">
            <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-60 rounded-lg text-sm focus:outline-none"
       type="search" name="search" placeholder="Search">
         <button type="submit" class="absolute right-0 top-0 outline-none  mt-5 mr-4">

    </button>
  </div>
                <div>
                    <select class="w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                        <option>Latest</option>
                        <option>Last Week</option>
                    </select>
                </div>
            </div>

            <div class="mt-8">
                <div class="container px-5 py-24 mx-auto">
                  <div class="mt-2">
                    <div
                      class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6"
                    >
                      <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
                        <div
                          class="flex items-end justify-end h-56 w-full bg-cover"
                          style="
                background-image: url('https://images.unsplash.com/photo-1563170351-be82bc888aa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=376&q=80');
              "
                        >
                          <button
                            class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500"
                          >
                            <svg
                              class="h-5 w-5"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                              ></path>
                            </svg>
                          </button>
                        </div>
                        <div class="px-5 py-3">
                          <h3 class="text-gray-700 uppercase">Chanel</h3>
                          <span class="text-gray-500 mt-2">$12</span>
                        </div>
                      </div>
                      <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
                        <div
                          class="flex items-end justify-end h-56 w-full bg-cover"
                          style="
                background-image: url('https://images.unsplash.com/photo-1544441893-675973e31985?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
              "
                        >
                          <button
                            class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500"
                          >
                            <svg
                              class="h-5 w-5"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                              ></path>
                            </svg>
                          </button>
                        </div>
                        <div class="px-5 py-3">
                          <h3 class="text-gray-700 uppercase">Man Mix</h3>
                          <span class="text-gray-500 mt-2">$12</span>
                        </div>
                      </div>
                      <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
                        <div
                          class="flex items-end justify-end h-56 w-full bg-cover"
                          style="
                background-image: url('https://images.unsplash.com/photo-1532667449560-72a95c8d381b?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
              "
                        >
                          <button
                            class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500"
                          >
                            <svg
                              class="h-5 w-5"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                              ></path>
                            </svg>
                          </button>
                        </div>
                        <div class="px-5 py-3">
                          <h3 class="text-gray-700 uppercase">Classic watch</h3>
                          <span class="text-gray-500 mt-2">$12</span>
                        </div>
                      </div>
                      <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
                        <div
                          class="flex items-end justify-end h-56 w-full bg-cover"
                          style="
                background-image: url('https://images.unsplash.com/photo-1590664863685-a99ef05e9f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=345&q=80');
              "
                        >
                          <button
                            class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500"
                          >
                            <svg
                              class="h-5 w-5"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                              ></path>
                            </svg>
                          </button>
                        </div>
                        <div class="px-5 py-3">
                          <h3 class="text-gray-700 uppercase">woman mix</h3>
                          <span class="text-gray-500 mt-2">$12</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-2">
                    <div
                      class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6"
                    >
                      <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
                        <div
                          class="flex items-end justify-end h-56 w-full bg-cover"
                          style="
                background-image: url('https://images.unsplash.com/photo-1563170351-be82bc888aa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=376&q=80');
              "
                        >
                          <button
                            class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500"
                          >
                            <svg
                              class="h-5 w-5"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                              ></path>
                            </svg>
                          </button>
                        </div>
                        <div class="px-5 py-3">
                          <h3 class="text-gray-700 uppercase">Chanel</h3>
                          <span class="text-gray-500 mt-2">$12</span>
                        </div>
                      </div>
                      <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
                        <div
                          class="flex items-end justify-end h-56 w-full bg-cover"
                          style="
                background-image: url('https://images.unsplash.com/photo-1544441893-675973e31985?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
              "
                        >
                          <button
                            class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500"
                          >
                            <svg
                              class="h-5 w-5"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                              ></path>
                            </svg>
                          </button>
                        </div>
                        <div class="px-5 py-3">
                          <h3 class="text-gray-700 uppercase">Man Mix</h3>
                          <span class="text-gray-500 mt-2">$12</span>
                        </div>
                      </div>
                      <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
                        <div
                          class="flex items-end justify-end h-56 w-full bg-cover"
                          style="
                background-image: url('https://images.unsplash.com/photo-1532667449560-72a95c8d381b?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
              "
                        >
                          <button
                            class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500"
                          >
                            <svg
                              class="h-5 w-5"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                              ></path>
                            </svg>
                          </button>
                        </div>
                        <div class="px-5 py-3">
                          <h3 class="text-gray-700 uppercase">Classic watch</h3>
                          <span class="text-gray-500 mt-2">$12</span>
                        </div>
                      </div>
                      <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
                        <div
                          class="flex items-end justify-end h-56 w-full bg-cover"
                          style="
                background-image: url('https://images.unsplash.com/photo-1590664863685-a99ef05e9f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=345&q=80');
              "
                        >
                          <button
                            class="p-2 rounded-full bg-blue-600 text-white mx-5 -mb-4 hover:bg-blue-500 focus:outline-none focus:bg-blue-500"
                          >
                            <svg
                              class="h-5 w-5"
                              fill="none"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                              ></path>
                            </svg>
                          </button>
                        </div>
                        <div class="px-5 py-3">
                          <h3 class="text-gray-700 uppercase">woman mix</h3>
                          <span class="text-gray-500 mt-2">$12</span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="flex">
                    <a href="#" class="mx-1 px-3 py-2 bg-white text-gray-500 font-medium rounded-md cursor-not-allowed">
                        previous
                    </a>

                    <a href="#" class="mx-1 px-3 py-2 bg-white text-gray-700 font-medium hover:bg-gray-900 hover:text-white rounded-md">
                        1
                    </a>

                    <a href="#" class="mx-1 px-3 py-2 bg-white text-gray-700 font-medium hover:bg-gray-900 hover:text-white rounded-md">
                        2
                    </a>

                    <a href="#" class="mx-1 px-3 py-2 bg-white text-gray-700 font-medium hover:bg-gray-900 hover:text-white rounded-md">
                        3
                    </a>

                    <a href="#" class="mx-1 px-3 py-2 bg-white text-gray-700 font-mediumhover:bg-gray-900 hover:text-white rounded-md">
                        Next
                    </a>
                </div>
            </div>
        </div>
        <div class="-mx-8 w-4/12 hidden lg:block">
            <div class="mt-10 px-8">
                <h1 class="mb-4 text-xl font-bold text-gray-700">Categories</h1>
                <div class="flex flex-col bg-white px-4 py-6 max-w-sm mx-auto rounded-lg shadow-md">
                    <ul>
                        <li><a href="#" class="text-gray-700 rounded hover:bg-gray-50 uppercase  py-2 px-32 font-bold mx-1 hover:text-gray-600 hover:underline">
                                Clothes</a></li>
                        <li class="mt-2"><a href="#"
                                class="text-gray-700 font-bold mx-1 rounded hover:bg-gray-50 uppercase  py-2 px-32 hover:text-gray-600 hover:underline">
                                Shoes</a></li>
                        <li class="mt-2"><a href="#"
                                class="text-gray-700 font-bold mx-1 rounded hover:bg-gray-50 uppercase  py-2 px-32 hover:text-gray-600 hover:underline"> Caps</a>
                        </li>
                        <li class="mt-2"><a href="#"
                                class="text-gray-700 font-bold mx-1  rounded hover:bg-gray-50 uppercase  py-2 px-32 hover:text-gray-600 hover:underline">
                                Watches</a></li>

                    </ul>
                </div>
            </div>

                </div>
            </div>
        </div>
