<div class="px-6 py-8">
    <div class="flex justify-between container mx-auto">
        <div class="w-full lg:w-8/12">
            <div class="flex items-center   justify-between">
                <h1 class="text-xl font-bold text-gray-700 md:text-2xl">Products</h1>
                <div class="pt-2 m-2 relative mx-auto hidden sm:flex text-gray-600">
            <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-60 rounded-lg text-sm focus:outline-none"
       type="search" name="search" placeholder="Search">
         <button type="submit" class="absolute right-0 top-0 outline-none  mt-5 mr-4">

    </button>
  </div>
                <div>
                    <select class="w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                        <option>Latest</option>
                        <option>Last Week</option>
                    </select>
                </div>
            </div>

          <section class="text-gray-600 body-font">
            <div class="container px-5 py-24 mx-auto">
              <div class="flex flex-wrap -m-4">
                <div  *ngFor="let product of products" class="lg:w-1/4 md:w-1/2 p-4 w-full">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="{{path}}{{product.image}}">
                  </a>
                  <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">{{product.title}}</h2>
                    <p class="mt-1">${{product.price}}</p>
                    <button  (click)="ViewProductDetails(product)"  class="capitalize p-2 border-0 custom-bg text-white font-semibold rounded outline-none mt-1.5focus:outline-none hover:bg-gray-700">View Product</button>
                  </div>
                </div>

              </div>
            </div>
          </section>
        </div>
        <div class="-mx-8 w-4/12 hidden lg:block">
          <div class="bg-white shadow w-64 my-2">
            <ul class="list-reset">
              <li>
                <a (click)="getallproducts()"  class="block p-4 text-grey-darker font-bold border-purple hover:bg-gray-50 border-r-4 capitalize">all products</a>
              </li>
              <li *ngFor="let category of categories">
                <a (click)="getproductbycat(category.id)"  class="block p-4 text-grey-darker font-bold border-purple hover:bg-gray-50 border-r-4 capitalize">{{category.name}}</a>
              </li>

            </ul>
          </div>
            </div>
        </div>
