<!-- This is an example component -->

<div class="h-full">

  <div class="border-b-2 block m-4 md:flex">

    <div class="w-full md:w-2/5 p-4 sm:p-6 lg:p-8 bg-white shadow-md">
      <div class="pb-6">
        <label class="font-semibold text-gray-700 block pb-1">FirstName</label>
        <div class="flex">
          <input   class="border-1  rounded-r px-4 py-2 w-full" type="text"  />
        </div>
      </div>
    </div>

    <div class="w-full md:w-3/5 p-8 bg-white lg:ml-4 shadow-md">
      <div class="rounded  shadow p-6">
        <div class="pb-6">
          <label class="font-semibold text-gray-700 block pb-1">FirstName</label>
          <div class="flex">
            <input   class="border-1  rounded-r px-4 py-2 w-full" type="text"  />
          </div>
          <label  class="font-semibold text-gray-700 block pb-1">LastName</label>
          <div class="flex">
          <input  class="border-1  rounded-r px-4 py-2 w-full" type="text"  />
          </div>
          <label  class="font-semibold text-gray-700 block pb-1">Adresse</label>
          <div class="flex">
            <input  class="border-1  rounded-r px-4 py-2 w-full" type="text"  />
          </div>
          <label  class="font-semibold text-gray-700 block pb-1">City</label>
          <div class="flex">
            <input  class="border-1  rounded-r px-4 py-2 w-full" type="text"  />
          </div>
          <label class="font-semibold text-gray-700 block pb-1">CodePostal</label>
          <div class="flex">
            <input  class="border-1  rounded-r px-4 py-2 w-full" type="text"  />
          </div>
          <label  class="font-semibold text-gray-700 block pb-1">Phone</label>
          <div class="flex">
            <input   class="border-1  rounded-r px-4 py-2 w-full" type="text"  />
          </div>
          <label  class="font-semibold text-gray-700 block pb-1">Size</label>
          <div class="flex">
            <select name="size" id="cars">
              <option value="volvo">S</option>
              <option value="saab">M</option>
              <option value="mercedes">L</option>
              <option value="audi">XL</option>
            </select>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
